.square{
    width: 100px;
    height: 100px;
    // background-color: cadetblue;
    border-style: solid;
    border-width: 1px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.0em;
}