<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Season 6 easter egg
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">  
  <ion-grid >
    <ion-row *ngFor="let pair of pairs">
      <ion-col></ion-col>
      <ion-col>
        <ion-img [src]="'assets/img/'+pair[0].name+'.png'" class="painting"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img [src]="'assets/img/'+pair[1].name+'.png'" class="painting"></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>   
  </ion-grid>
</ion-content>